@layer components {
  .btn {
    @apply bg-primary-500/50 text-white px-3 py-1 text-sm font-bold;
  }
}

@layer components {
  progress,
  progress::-webkit-progress-value,
  progress::-moz-progress-bar
  {
    -webkit-transition: width .5s ease;
    -moz-transition: width .5s ease;
      -o-transition: width .5s ease;
         transition: width .5s ease;
  }

  progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;

    @apply rounded bg-primary-950/50;
    @apply bg-gradient-to-b from-primary-950/50 to-primary-900/50;
    @apply shadow;
  }
  
  progress[value]::-webkit-progress-bar {
    @apply rounded bg-primary-950/50;
    @apply bg-gradient-to-b from-primary-950/50 to-primary-900/50;
  }
  
  progress[value]::-webkit-progress-value {
    @apply rounded bg-primary/75;
    @apply bg-gradient-to-b from-primary/85 to-primary-900/85;
  }
  
  progress[value]::-moz-progress-bar {
    @apply rounded bg-primary/75;
    @apply bg-gradient-to-b from-primary/85 to-primary-900/85;
  }
}

@layer components {
  [data-tooltip] {
    @apply relative;
  }
  
  [data-tooltip]::after {
    content: attr(data-tooltip);
    @apply bg-black/75 text-white text-xs whitespace-nowrap px-2 py-1 rounded;
    @apply absolute top-2 left-1/2 -translate-x-1/2 -translate-y-full;
    @apply opacity-0;
    transition: all .3s ease-in-out .3s;
  }
  
  [data-tooltip]:hover::after {
    @apply opacity-85 top-0;
  }
}
