@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss"; */

@layer base {
  :root {
    --color-black: black;
    --color-white: white;
    --color-primary: hsl(199, 89%, 48%);
    --color-primary-50: hsl(204, 100%, 97%);
    --color-primary-100: hsl(204, 94%, 94%);
    --color-primary-200: hsl(201, 94%, 86%);
    --color-primary-300: hsl(199, 95%, 74%);
    --color-primary-400: hsl(198, 93%, 60%);
    --color-primary-500: hsl(199, 89%, 48%);
    --color-primary-600: hsl(200, 98%, 39%);
    --color-primary-700: hsl(201, 96%, 32%);
    --color-primary-800: hsl(201, 90%, 27%);
    --color-primary-900: hsl(202, 80%, 24%);
    --color-primary-950: hsl(204, 80%, 16%);
  }
}

body {
  --bg-start: var(--color-black);
  --bg-end: color-mix(in hsl, var(--color-primary-950), black 30%);
  --bg-light: var(--color-white);

  color: hsl(204, 80%, 16%);

  @apply min-h-screen bg-black text-white overflow-x-hidden;

  background: linear-gradient(to bottom, transparent, var(--bg-end)), var(--bg-start)
              conic-gradient(at 50% -1rem,
                color-mix(in hsl, var(--bg-start), transparent 50%),
                color-mix(in hsl, var(--bg-light), transparent 50%),
                color-mix(in hsl, var(--bg-start), transparent 50%)
              );
}

@layer components {
  .btn {
    @apply bg-primary-500/50 text-white px-3 py-1 text-sm font-bold;
  }
}

@layer components {
  progress,
  progress::-webkit-progress-value,
  progress::-moz-progress-bar
  {
    -webkit-transition: width .5s ease;
    -moz-transition: width .5s ease;
      -o-transition: width .5s ease;
         transition: width .5s ease;
  }

  progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;

    @apply rounded bg-primary-950/50;
    @apply bg-gradient-to-b from-primary-950/50 to-primary-900/50;
    @apply shadow;
  }
  
  progress[value]::-webkit-progress-bar {
    @apply rounded bg-primary-950/50;
    @apply bg-gradient-to-b from-primary-950/50 to-primary-900/50;
  }
  
  progress[value]::-webkit-progress-value {
    @apply rounded bg-primary/75;
    @apply bg-gradient-to-b from-primary/85 to-primary-900/85;
  }
  
  progress[value]::-moz-progress-bar {
    @apply rounded bg-primary/75;
    @apply bg-gradient-to-b from-primary/85 to-primary-900/85;
  }
}

@layer components {
  [data-tooltip] {
    @apply relative;
  }
  
  [data-tooltip]::after {
    content: attr(data-tooltip);
    @apply bg-black/75 text-white text-xs whitespace-nowrap px-2 py-1 rounded;
    @apply absolute top-2 left-1/2 -translate-x-1/2 -translate-y-full;
    @apply opacity-0;
    transition: all .3s ease-in-out .3s;
  }
  
  [data-tooltip]:hover::after {
    @apply opacity-85 top-0;
  }
}

@layer utilities {
  .bg-theme {
    @apply bg-primary-900/40;
  }

  .border-theme {
    @apply border border-primary/50;
  }
}
